@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    cursor: none !important;
}
html,
body {
    font-family: "Manrope", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale; 
    
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
        monospace; 
}
.top-gradient-overlay {
            position: fixed;
            top: 0;
            left: 0;
            height: 200px;
            width: 100%;
            background: 
            linear-gradient(to bottom,
                            rgba(6, 0, 16, 0.9),
                            rgba(6, 0, 16, 0.6),
                            rgba(6, 0, 16, 0.0));
            pointer-events: none;
            z-index: 500;         
}

.hover-tilt {
  transition: transform 0.4s ease;
  will-change: transform;
}

.hover-tilt:hover {
  transform: perspective(1000px) rotateX(5deg) rotateY(5deg);
}
